* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #dfdf58;
$enable-shadows: true;
$prefix: "mo-";

$card-width: 350px;
$card-height: 500px;
$h-color: white;
$yellow: #D0BB57;
$txt-color: #DCE3E7;